NEXT_PUBLIC_COMPANY_PHONE=+34XXXXXXXXX
NEXT_PUBLIC_COMPANY_WHATSAPP=+34XXXXXXXXX
COMPANY_NOTIFICATION_EMAIL=presupuestos@jrrehabilitaciones.es
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
EMAIL_PROVIDER_KEY=
